In [ ]:
#1
def even_checker(num):

  if num%2==0:
    print("Even!!")
  else:
    print("Odd!!")

even_checker(5)
even_checker(2)

Odd!!
Even!!

In [ ]:
#2
def fibonacci(limit):
  x=0
  y=1
  print(x,end=" ")
  print(y,end=" ")

  for num in range(2,limit+1):
    if x+y>limit:
      return
    z=x+y
    x=y
    y=z
    print(z,end=" ")
fibonacci(10)

#fibonacci(5)

0 1 1 2 3 5 8

In [ ]:
#3
def foo_moo(num):
  if num%2==0 and num%3==0:
    return 'FooMoo'
  elif num%2==0:
    return 'Foo'
  elif num%3==0:
    return 'Moo'
  else:
    pass
foo_moo(4)

'Foo'

In [ ]:
#4
def upper_lower_case(string):
  upper=0
  lower=0
  for i in string:
    if 65<=ord(i)<=90:
      upper+=1
    elif 97<=ord(i)<=122:
      lower+=1
    
  print(f"No. of Uppercase characters:{upper}")
  print(f"No. of Lowercase Characters:{lower}")

upper_lower_case('The quick Sand Man')
upper_lower_case('HaRRy PotteR')

No. of Uppercase characters:3
No. of Lowercase Characters:12
No. of Uppercase characters:5
No. of Lowercase Characters:6

In [ ]:
#5
def calculate_tax(age,salary,current_job):
  if (current_job=="President" and current_job=="president") or age<18 or salary==10000:
    return 0
  elif 10000<=salary<=20000:
    amount=(salary*5)/100
    return amount
  elif salary>=20000:
    amount=(salary*10)/100
    return amount
calculate_tax(16, 20000, 'Student')
#calculate_tax(20, 18000, 'assistant manager')
#calculate_tax(20, 18000, 'assistant manager')
calculate_tax(20, 22000, 'Assistant manager')

2200.0

In [ ]:
#6
def calculate_days(days):
  years=days//365
  remainder=days%365
  month=remainder//30
  day=remainder%30

  print(f"{years} years,{month} months and {day} days")
calculate_days(4330)
calculate_days(2250)

11 years,10 months and 15 days
6 years,2 months and 0 days

In [ ]:
#7
def show_palindrome(n):
  str1=""
  str2=""
  for x in range(1,n+1):
    a=str(x)
    str1+=a
  for x in range(n-1,0,-1):
    b=str(x)
    str2+=b
  return(str1+str2)
print(show_palindrome(3))  
print(show_palindrome(5))

12321
123454321

In [ ]:
#8
def show_palindrome(n):
  str1=""
  str2=""
  for x in range(1,n+1):
    a=str(x)
    str1+=a
  for x in range(n-1,0,-1):
    b=str(x)
    str2+=b
  return(str1+str2)
def show_palindromic_triangle(n):
  for x in range(1,n+1):
    print(" "*(n-x)+show_palindrome(x))
    
show_palindromic_triangle(5)

    1
   121
  12321
 1234321
123454321

In [ ]:
#9
import math

def area_circumference_generator(radius):
  area=math.pi*radius**2
  circumference=2*math.pi*radius
  return area,circumference

d= area_circumference_generator(1)
a,c=d
print(d)
print(f"Area of the circle is {a} and circumference is {c}")

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#10
def make_square(tuple1):
  dictionary={}
  for x in range(1,(tuple1[-1])+1):
    dictionary[x]=x**2
  return dictionary
make_square((1,3))
make_square((5,9))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#11
def rem_duplicate(tup):
  lst=[]
  for i in tup:
    if i not in lst:
      lst.append(i)

  new_tup=tuple(lst)
  return new_tup

rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#12
def list1(elements):
  lst=[]
  for values in elements:
    if lst.count(values)<=2:
      lst.append(values)
    if lst.count(values)>2:
      lst.remove(values)
  print("Removed:",lst.count(values))
  return lst
list1([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Removed: 2

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#13
operator=input("Enter the operator:")
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))

def calculation(operator,num1,num2):
  if operator=="+":
    return num1+num2
  elif operator=="-":
    return num1-num2
  elif operator=="*":
    return num1*num2
  elif operator=="/":
    return num1/num2

calculation(operator,num1,num2)

Enter the operator:+
Enter the first number:10
Enter the second number:20

30

In [ ]:
#14
sentence=input("Enter the sentence:")
position=int(input("Enter the position:"))

def Function(sentence,position):
  str1=sentence[0]
  str2=""
  for i in range(1,len(sentence)):
    if i%position!=0:
      str1+=sentence[i]
    else:
      str2+=sentence[i]
  return str1+str2

Function(sentence,position)

Enter the sentence:I love programming.
Enter the position:3

'I lveprgrmmngo oai.'

In [ ]:
#15
items=[]
items_limit=int(input("Enter the number of items you want:"))
for i in range(items_limit):
  elements=input("Enter your item names:")
  items.append(elements)

def grocery_store(items,location="Dhanmondi"):
  price_dict={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  total_price=0

  for keys,values in price_dict.items():
    for i in items:
      if i in keys:
        total_price+=values
        w
  if location=="Dhanmondi":
    total_price+=30
  else:
    total_price+=70
  return total_price

grocery_store(items,"Mohakhali")

Enter the number of items you want:3
Enter your item names:Rice
Enter your item names:Beef
Enter your item names:Rice

750

**UNGRADED**

In [ ]:
#16
def splitting_money(amount):
  
  five_hundred=amount//500
  five_hundred1=amount%500
  hundred=five_hundred1//100
  hundred1=five_hundred1%100
  twenty=hundred1//20
  twenty1=hundred1%20
  ten=twenty1//10
  ten1=twenty1%10
  two=ten1//2
  two1=ten%2

  print(f'500 Taka:{five_hundred} note(s)')
  print(f'100 Taka:{hundred} note(s)')
  print(f'20 Taka:{twenty} note(s)')
  print(f'10 Taka:{ten} note(s)')
  print(f'2 Taka:{two} note(s)')

amount=int(input("Pleas,enter the amount:"))
splitting_money(amount)

Pleas,enter the amount:1234
500 Taka:2 note(s)
100 Taka:2 note(s)
20 Taka:1 note(s)
10 Taka:1 note(s)
2 Taka:2 note(s)

In [ ]:
#task-17
def remove_odd(lst):
  lst1=[]
  for i in lst:
    if i%2==0:
      lst1.append(i)
    else:
      pass

  return lst1

remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])

[44, 66, 88, 10]

In [ ]:
#task-18
def calculation(start,end,first_div,second_div):
  sum=0
  for i in range(start,end):
    if i%first_div==0 and i%second_div==0:
      pass
    elif i%first_div==0 or i%second_div==0:
      sum+=i
  return sum

print(calculation(10, 40, 4, 7))

210

In [ ]:
#task-19
def sentence(str1):
  flag=True
  new_str=str1.lower()
  alphabets='abcdefghij'
  
  for i in alphabets:
     if i not in new_str:
       flag=False
     else:
       flag=True

  if flag==True:
    print("PSG will win the Champions League this season\n"*5) 
  else:
    print("PSG will win the Champions League this season\n"*6)
str1=input("Enter your string:")
sentence(str1)

Enter your string: "A black jackal is hunting a full grown deer"
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

In [ ]:
#task-20
def individul_bonus_calculation(name,income,goal,bonus):

  if 20<goal<=30:
    bonus=int(goal*(bonus/100*income)+5000)
  else:
    bonus=int(goal*(bonus/100*income)+10000)

  print(f"Neymar earned a bonus of {bonus} Taka for {goal} goals.")
individul_bonus_calculation("Neymar", 1200000, 35, 5)

Neymar earned a bonus of 2110000 Taka for 35 goals.