In [ ]:
#1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

print("Output:",a_tuple[3][3])

Output: 400

In [ ]:
#2
a_tuple=(10, 20, 24, 25, 26, 35, 70)

print(a_tuple[2:-2])

(24, 25, 26)

In [ ]:
#3
book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),("Best Horror","The Institute",75,717),("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291))

l=len(book_info)
print("Size of the tuple is:",l)

for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for item in book_info:
  a,b,c=item
  print(b,'won the',"'"+a+"'",'category with',c,'votes')

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#5
a_tuple=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

user=int(input("Sir,please enter your desired number:"))
count=0

for i in a_tuple:
  if i==user:
    count+=1
  else:
    continue

print(f"{user} appears {count} times in the tuple")

Sir,please enter your desired number:8
8 appears 4 times in the tuple

In [ ]:
#6
a_tuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
lst=[]
new_lst=[]
for i in a_tuple:
  lst.append(i)

for i in range(len(lst)-1,-1,-1):
  new_lst.append(lst[i])

new_tuple=tuple(new_lst)

print(new_tuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#7
a_dict={'Harry':15, 'Draco':8, 'Nevil':19}
b_dict={'Ginie':18, 'Luna': 14}

new_dict={}
new_dict.update(a_dict)
new_dict.update(b_dict)

print(new_dict)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#8
a_dict={}
sum=0
count=0
avg=0

num=int(input('Enter a number:'))
for items in range(num):
  key=input('Enter the key:')
  value=int(input("Enter the value:"))
  a_dict.update({key:value})
  sum+=value
  count+=1

avg=int(sum/count)
print("Average is",avg)

Enter a number:3
Enter the key:Jon
Enter the value:100
Enter the key:Dan
Enter the value:200
Enter the key:Rob
Enter the value:300
Average is 200

In [ ]:
#9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

num=int(input("Ënter a number:"))
dict1={}

for value in exam_marks:
  if exam_marks[value]>=num:
    dict1[value]=exam_marks[value]

print(dict1)

Ënter a number:170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#10
a_dict={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=0
new_dict={}

for key,value in a_dict.items():
  if value>=max:
    max=value
for key,value in a_dict.items():
  if value==max:
    genre=key

print(f"The highest selling book genre is '{genre}' and the number of books sold are {max}")

The highest selling book genre is 'mystery' and the number of books sold are 15

In [ ]:
#11
str1=input("Enter  a string:")
word=''

new_word=str1.lower()
dict1={}

for i in new_word:
  if 97<=ord(i)<=122:
    word+=i

for i in word:
  dict1[i]=0

for i in word:
  dict1[i]+=1

print(dict1)

Enter  a string:Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for x in dict_1.values():
  for y in x:
    count+=1
print(count)

9

In [ ]:
#13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
list1=[]
list2=[]
list3=[]
for x in range(len(list_1)):
  if list_1[x][0]=='a':
    list1.append(list_1[x][1])
  elif list_1[x][0]=='b':
    list2.append(list_1[x][1])
  else:
     list3.append(list_1[x][1])
dictionary={'a':list1,'b':list2,'c':list3}
print(dictionary)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#14
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}

for i in dict1:
 j = 0
 k = 22
 while j < 5:
   if j % 2 == 0:
      k = dict1[i] + j - (8 + k % 6) / 3
      dict1[i] = dict1[i]+ int(k)
   else:
      k = dict1[i] + j - (6 - k % 8) * 3
      dict1[i] = dict1[i] - int(k)
   j += 1
 print(int(k))
 print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

**UNGRADED**

In [ ]:
#15
my_tup=[(2, 3), (4, 5), (6, 7), (2, 8)]
lst=[]
multiple=1

for i in my_tup:
  for j in i:
    multiple*=j
  lst.append(multiple)
  multiple=1

print(lst)

[6, 20, 42, 16]

In [ ]:
#16
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
user=input("Please,enter the data:")

for lst in a_tuple:
 lst[-1]=user

print(a_tuple)

Please,enter the data:abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [ ]:
#17
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
new_dict=my_dictionary.copy()

for key,value in my_dictionary.items():
  if value==None:
    del new_dict[key]

print(new_dict)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#18
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
new_dict={}

lower=int(input("Please,enter the lower value:"))
upper=int(input("Please,enter the upper value:"))

for key,value in dict_1.items():
  if lower<=value<upper:
    new_dict[key]=value

print(new_dict)

Please,enter the lower value:9
Please,enter the upper value:12
{'c': 9, 'e': 11}

In [ ]:
#19
lst=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

new_dict={}
lst1=[]

for tuples in lst:
  if tuples[-1] not in lst1:
    lst1.append(tuples[-1])

for value in lst1:
  store=[]
  for tuples in lst:
    if value==tuples[-1]:
      store.append(tuples)
  
  new_dict[value]=store

print(new_dict)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [2]:
#20
sentence=input("Please,enter the sentence/s(if you input multiple sentences,seperate them using fullstop):")
special_char=input("Please,enter a list containg special characters:")

dummy=""
length=len(special_char)
dict_1={}
sum=0

for i in sentence:
  if i==".":
    pass
  else:
    dummy+=i

lst=dummy.split(" ")

new_lst=[]
for r in lst:
      if r not in new_lst:
        new_lst.append(r)
for j in new_lst:
  for k in j:
    sum+=ord(k)
  index=sum%length
  dict_1[special_char[index]]=[j]
  if special_char[index] not in dict_1:
      dict_1[special_char[index]]=[j]
  else:
      dict_1[special_char[index]].append([j])
sum=0

print("Words in the given String:",lst)
print("Answer:",dict_1)

Please,enter the sentence/s(if you input multiple sentences,seperate them using fullstop):'The secret of getting ahead is getting started.'
Please,enter a list containg special characters:['-', '=', '+', '*', '%']
Words in the given String: ["'The", 'secret', 'of', 'getting', 'ahead', 'is', 'getting', "started'"]
Answer: {"'": ["started'", ["started'"]], ']': ['secret', ['secret']], '+': ['of', ['of']], ' ': ['is', ['is']]}