In [ ]:
#1
var1=int(input('Sir,please enter the first number:'))
var2=int(input('Sir,please enter the second number:'))

sum=var1+var2
product=var1*var2
difference=var1-var2

print("Sum=",sum)
print("Product=",product)
print("Difference=",difference)

Sir,please enter the first number:30
Sir,please enter the second number:2
Sum= 32
Product= 60
Difference= 28

In [ ]:
#2
import math
radius=float(input("Sir,please enter the radius:"))

area=math.pi*radius**2
circumference=2*math.pi*radius

print("Area is",area)
print("Circumference is",circumference)

Sir,please enter the radius:3.5
Area is 38.48451000647496
Circumference is 21.991148575128552

In [ ]:
#3
var1=int(input('Sir,please enter the first number:'))
var2=int(input('Sir,please enter the second number:'))

if var1>var2:
  print("First is greater")
elif var1<var2:
  print("Second is greater")
else:
  print("The numbers are equal")

Sir,please enter the first number:11
Sir,please enter the second number:11
The numbers are equal

In [ ]:
#4
var1=int(input('Sir,please enter the first number:'))
var2=int(input('Sir,please enter the second number:'))

if var1>var2:
  difference=var1-var2
else:
  difference=var2-var1

print(difference)

Sir,please enter the first number:6
Sir,please enter the second number:2
4

In [ ]:
#5
var=int(input('Sir,please enter the number:'))

if var%2==0:
  print("The number is even")
else:
  print("The number is odd")

Sir,please enter the first number:-44
The number is even

In [ ]:
#6
var=int(input('Sir,please enter the number:'))

if var%2==0 or var%5==0:
  print(var)
else:
  print("Not a multiple of 2 OR 5")

Sir,please enter the number:3
Not a multiple of 2 OR 5

In [ ]:
#7
var=int(input('Sir,please enter the number:'))

if var%2==0 and var%5==0:
  print("Multiple of 2and 5 both")
elif var%2==0 or var%5==0:
  print(var)
else:
  print("Not a multiple we want")

Sir,please enter the number:6
6

In [ ]:
#8
var=int(input('Sir,please enter the number:'))

if var%2==0 and var%5==0:
  print(var)
else:
  print("Not multiple of 2 and 5 both")

Sir,please enter the number:15
Not multiple of 2 and 5 both

In [ ]:
#9
time=int(input('Sir,please enter the time in seconds:'))

hours=time//3600
minutes1=time%3600
minutes=minutes1//60
seconds=minutes1%60

print("Hours:",hours,"Minutes:",minutes,"Seconds:",seconds)

Sir,please enter the time in seconds:10000
Hours: 2 Minutes: 46 Seconds: 40

In [ ]:
#10
hours=int(input('Sir,please enter the working hours:'))

if hours<0:
  print("Hour cannot be negative")
elif hours>168:
  print("Impossible to work more than 168 hours weekly")
elif hours<=40:
  salary=hours*200
  print(salary)
elif hours>40:
  salary=8000+(hours-40)*300
  print(salary)

Sir,please enter the working hours:168
46400

In [ ]:
#11
s=int(input("Sir,please enter the value of S:"))

if s<100:
  L=3000-125*(s**2)
else:
  L=12000/(4+(s**2)/14900)

print(L)

Sir,please enter the value of S:3
1875

In [ ]:
#12
hour=int(input('Sir,please enter the working hours:'))

if hour<0 or hour>23:
  print("Wrong Time")
elif hour>=4 and hour<=6:
  print("Breakfast")
elif hour>=12 and hour<=13:
  print("Lunch")
elif hour>=16 and hour<=17:
  print("Snacks")
elif hour>=19 and hour<=20:
  print("Dinner")
else:
  print("Patience is a virtue")

Sir,please enter the working hours:23
Patience is a virtue

In [ ]:
#13
marks=int(input("Sir,please enter the mark:"))

if marks>=90 and marks<=100:
  print("A")
elif marks>=80 and marks<=89:
   print("B")
elif marks>=70 and marks<=79:
  print("C")
elif marks>=60 and marks<=69:
  print("D")
elif marks>=50 and marks<=59:
  print("E")
elif marks<50:
  print("F")
else:
  print("Invaild marks")

Sir,please enter the mark:98
A

In [ ]:
#14
d=int(input("Sir,please enter the distance in meter:"))
s=int(input("Sir,please enter the time in second:"))

v=d/s
vel=(v*3600)/1000
print(vel,"km/h")

if vel<60:
  print("Too slow. Needs more changes.")
elif vel>=60 and vel<=90:
  print("Velocity is okay. The car is ready!")
elif vel>90:
  print("Too fast. Only a few changes should suffice.")

Sir,please enter the distance in meter:160000
Sir,please enter the time in second:7200
80.0 km/h
Velocity is okay. The car is ready!

In [1]:
#15
cgpa=float(input("Please enter the CGPA: "))
credits=int(input("Please enter the completed credits: "))

if credits>=30:
  if (cgpa>=3.80 and cgpa<=3.89):
    print("The student is eligible for 25 percent waiver")
  elif (cgpa>=3.90 and cgpa<=3.94):
    print("The student is eligible for 50 percent waiver")
  elif (cgpa>=3.95 and cgpa<=3.99):
    print("The student is eligible for 75 percent waiver")
  elif cgpa==4.00:
    print("The student is eligible for 100 percent waiver")
  elif (cgpa<0 or cpga>4):
    print("Please enter a valid cgpa")  
else:
  print("The student is not eligible for waiver")

Please enter the CGPA: 3.93
Please enter the completed credits: 78
The student is eligible for 50 percent waiver

In [ ]:
#16
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
  print(r + 2)
else:
  print(r + p)
if (q > 20):
  print(r + 19)
elif (q <= 6):
  print(q + 3)
else:
  print(p + q + r)
if (r > 15):
  print(r)
elif (r == 0):
  print(p + q)
else:
  print(p)
if (sum != 0):
  print(3)
else:
  print(sum + 32)
if (p>0 and r<10):
  print(p+r)
else:
  print(p-r)

11
9
5
32
14

In [ ]:
#17
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

In [ ]:
#18
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
#19
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False

UNGRADED

In [5]:
#20
var=int(input("Please enter a number:"))
if var%2!=0 and var%5!=0:
  print(var)
else:
  print("No")

Please enter a number:5
No

In [4]:
#21
var=int(input("Please,enter a value:"))

if (var%2==0 and var%5==0):
  print("No")
else:
  print(var)

Please,enter a value:20
No

In [6]:
#22
canvas=int(input("Please,enter the total amount of canvas:"))
paint=int(input("Please,enter the total amount of paint tubes:"))
price=(canvas*120)+(paint*75)

if price>=0 and price<=299:
  print("Privious total:",price,"\nNew total after discount:",(price-0))
elif price>=300 and price<=499:
  print("Privious total:",price,"\nNew total after discount:",(price-10))
elif price>=500 and price<=749:
  print("Privious total:",price,"\nNew total after discount:",(price-20))
elif price>=750 and price<=999:
  print("Privious total:",price,"\nNew total after discount:",(price-50))
elif price>=1000:
  print("Privious total:",price,"\nNew total after discount:",(price-150))

Please,enter the total amount of canvas:5
Please,enter the total amount of paint tubes:8
Privious total: 1200
New total after discount: 1050